# Minimal package to use dcase2020 task2 baseline.
keras
Keras-Applications
Keras-Preprocessing
matplotlib
numpy
PyYAML
scikit-learn
librosa
audioread
setuptools
tensorflow
tqdm
pytorch-lightning
dl-cliche
torchsummary
EasyDict
